@import url('https://fonts.googleapis.com/css?family=Fira+Code');
* { padding: 0; margin: 0; box-sizing: border-box; user-select: none; }
main { background-color: #000; color: #999; font-family: "Fira Code", monospace; position: absolute; inset: 0; }
input, select, button { background-color: inherit; color: inherit; border: none; outline: none; }
button:hover { background-color: hsl(222, 22%, 10%); }
#page { width: 100%; height: calc(100% - 100px); }
#page > div { display: none; width: 100%; height: 100%; overflow: auto; }
#page > div > div { width: 100%; height: 50px; display: flex; align-items: center; gap: 10px; padding: 5px; border-bottom: 1px solid hsl(222, 22%, 22%); }
#page > div > div:hover { background-color: hsl(222, 22%, 10%); }
#page > div > div > span { width: 100%; }
#page > div > div > span > h6 { white-space: nowrap; overflow: auto; scrollbar-width: none; }

#dock { width: 100%; height: 50px; display: flex; }
#dock > input { width: 100%; height: 100%; padding: 10px; }
#dock > button { flex: 1; }

#navi { width: 100%; height: 50px; display: flex; }
#navi > button { flex: 1; }
#navi > button.active { color: #0FF; }

#form { background-color: rgba(0, 0, 0, 0.5); position: absolute; inset: 0; display: none; align-items: center; justify-content: center; }
#form > div { background-color: #000; width: 80%; height: fit-content; border: 1px solid hsl(222, 22%, 22%); display: flex; flex-direction: column; align-items: center; gap: 5px; padding: 10px; }
#form > div > div { width: 100%; height: fit-content; max-height: 400px; padding: 10px; border: 1px solid hsl(222, 22%, 22%); overflow: auto; user-select: text; }
#form > div > input { width: 100%; height: 100%; padding: 10px; border: 1px solid hsl(222, 22%, 22%); }
#form > div > select { width: 100%; height: 100%; padding: 10px; border: 1px solid hsl(222, 22%, 22%); }
#form > div > button { width: 100%; height: 100%; padding: 10px; border: 1px solid hsl(222, 22%, 22%); }

#page #Home { display: block; }
#page #Misc > div:not(:first-child) { color: #F00; }
#navi button:first-child { color: #0FF; }
